<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">

    <router id="standard">
        <route frontName="blogposts" id="blogpostlist">
            <module name="MageGuide_FirstModule"/>
        </route>
        <route frontName="blog" id="blogposts">
            <module name="MageGuide_FirstModule"/>
        </route>
    </router>

    <router id="admin">
        <route id="dev_grid" frontName="blogposts">
            <module name="MageGuide_FirstModule" before="Magento_Backend" />
        </route>
    </router>

</config>
