<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="MageGuide_FirstModule" setup_version="1.0.2">
        <!-- We ensure that a module will run after the modules specified here -->
        <sequence>
            <!-- Manilpulate prioratization -->
        </sequence>
    </module>
</config>
